main {
  background-color: #f0f0f0; /* Gray background for the full page */
  min-height: 100vh; /* Ensure it covers the full viewport height */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.loginContainerDiv {
  background-color: #ffffff; /* White background for the login container */
  border-radius: 8px; 
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  padding: 2rem; /* Add some padding */
  transform: translate(-300px, 0);
}

input{
  padding: 7px !important;
}
